@font-face{
    font-family: 'font1';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face{
    font-family: 'font2';
    src: url('../fonts/K2D-Medium.ttf');
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
html{
    height: 100%;
}
body{
    height: 100%;
    background-color:black;
    font-family: font1;
    color: blanchedalmond;
}

/*Main Page */
#section1{
    height: 100vh;
}
#mainpg-name{
    color: bisque;
    font-size: 100px;
    margin-top: 35vh;
    margin-bottom: -2vh;
    animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}
#mainpg-personalinfo{
    color: aliceblue;
    font-family: font2;
    font-size: 25px;
    font-weight: lighter;
    animation: fadeIn 5s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}
#mainpg-nav{
    animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}


#section2{
    background-color: #041c1f;
    height: 100vh;
}
#section3{
    background-color: black;
    height: 100vh;
}
#section4{
    background-color: #041c1f;
    height: 100vh;
}
.logolinks{
    margin-top: 0.8vh;
    height: 4vh;
    width: 5vh;
    margin-left: 5vh;
    
    
}
#LinkedInLogo{
    height: 4.5vh;
    width: 4.5vh;
    margin-top: 1vh;
}
#GitLogo{
    height: 4.5vh;
    width: 4.5vh;
}

/* imects */
.project-title{
    font-size: 70px;
    margin-top: 5vh;
}

.project-info{
    margin-top: 10vh;
    font-size: 20px;
    color: white;
}

.projimg{
    height: 400px;
    width: 600px;
    opacity: 0.9;
    border: 5px solid bisque;
    margin-top: 5vh;
    border-radius: 2vh;
}
.projimg:hover{
    height: 410px;
    width: 610px;
    border: 5px solid whitesmoke;
    
}
#myCarousel{
    margin-top: 6vh;
}
#openAI-img{
    height: 80vh;
    border: 5px solid bisque;
    border-radius: 2vh;
}
#openAI-img:hover{
    border: 5px solid whitesmoke;
    border-radius: 2vh;
}
#rym-img{
    height: 80vh;
    border: 5px solid bisque;
    border-radius: 2vh;
}
.css-logo{
    margin-top: 1vh;
    height: 10vh;
}
.html-logo{
    margin-top: -1vh;
    height: 16.5vh;
    margin-left: -3vh;
}
/* --------------------------------------------------New Page Over------------------------------------ */

#profileimg{
    height: 10%;
    width: 40%;
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
    border-color: #EE5B11;
    
}
#profileimg:hover{
    width: 55%;
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
    border-color: blanchedalmond;
    
}
#profile{
    margin-top: 20vh;       
   }
#profiles{

 height: 100%;
 
    
}

.buttons{
    text-align: center;
    /* border-radius: 100%; */
    height: 50px;
    width: 120px;
    background-color: transparent;
    color: blanchedalmond;
    font-size: 20px;
    
}


#linkedinlogo{
    width: 10%;
}
#maillogo{
    width: 10%;    
}

a{
    color: black;
}

button:hover{
    border-style: solid;
    border-width: medium;
    border-color: #EE5B11;
}
/* NEW INDEX */
.custom-c{
    padding: 1px;
    height: 100%;
    
}
#right{
    background-image: url(https://sonorousad.github.io/AdrianMorillo.github.io/Includes/imgs/imgRight.jpg);
    height:100%;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}
#left{

    background-image: url(https://sonorousad.github.io/AdrianMorillo.github.io/Includes/imgs/imgLeft.jpg);
    height:100%;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}
.titleside{
    color:whitesmoke;
    -webkit-text-stroke: 0.5px black; /* width and color */
    margin-top: 50px;
    opacity: 90%;
}

#aboutbttn{
    text-align: center;
    margin-top: 50vh; 
    background-color: black;
    background-repeat:no-repeat;
    border-style: groove;
    border-color: black;
    width: 280px;
    height: 45px;
    opacity: 75%;
    -webkit-text-stroke: 0.5px black; /* width and color */
    font-size: 25px;
    animation: 2s ease-out 0s 1 slideInFromLeft;

}
#aboutbttn:hover{
    border-style: solid;
    border-color: #EE5B11;
}
#workbtn{
    text-align: center;
    margin-top: 50vh;
    background-color: black;
    background-repeat:no-repeat;
    border-style: groove;
    border-color: black;
    width: 280px;
    height: 45px;
    opacity: 75%;
    -webkit-text-stroke: 0.5px black; /* width and color */
    font-size: 25px;
    animation: 2s ease-out 0s 1 slideInFromRight;

}
#workbtn:hover{
    border-style: solid;
    border-color: #EE5B11;
}
/* WHEN SCREEN GETS RESIZED TO HALF SCREEN */
@media (max-width:993px) {
    .titleside{
        padding-top: 100px;
        margin-top: 10px;
    }
}
/* ------------ PROJECTS PAGE CSS ----------- */
#title{
    font-size: 40px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black; /* width and color */
    
}
#projtitle{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black; /* width and color */
}
#projbody{
    /* background-color: rgb(182, 165, 137); */
    background-color: rgb(104, 104, 104);
    background-color: rgb(0, 0, 0);
}
#myCarousel{
    height: 80vh;
    background-color:rgb(15, 15, 15);
    border-radius: 20px;
}
#lftcrslcntl{
    color: orangered;
}
#rgtcrslcntl{
    color: orangered;
}
.item{
    text-align: center;
    color: #572106;
    height: 500px;
}
.projImgs{
    height: 50%;
    width: 40%;
    margin-top: 50px;
}
.projImgs:hover{
    border-style: solid;
    border-width: medium;
    border-color: #EE5B11;
}

#mineimg{
    height: 40%;
    width: 350px;
    background-color: lightblue;
    border-radius: 10px;
}
#myuniimg{
    height: 40%;
    width: 60%;
    border-radius: 10px;
}
#priceCimg{
    height: 300%;
    width: 65%;
    margin-top: 80px;
    border-radius: 10px;
}
#rymimg{
 height: 30vh;
 width: 100vh;
 margin-top: 11vh;
 border-radius: 10px;
}

.carousel-caption{
    position: relative;    
    margin-top: 10px;
    left: 0;
    right: 0;
}
.tt{
    position:absolute;
    top: 340px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* ---------- PERSOAL CSS --------- */
#bodypersonal{
    /* background-color: rgb(182, 165, 137); */
    background-color: black;
}

.rowhan{
    /* background-color: grey; */
    margin-top: 25px;
}
#titlepersonal{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black; /* width and color */
}
#homeIcon2{
    position: absolute;
    width: 30px;
    margin-top: 13px;
    left: 8%;
}
.personalimgs{
    width: 60%;
    background-color: white;
    box-shadow: 0px 10px 15px 2px whitesmoke;
    border-radius: 3%;
}
#chilcoimg{
    width: 70%;
    margin-right: 7vh;
}
#chilcoimg:hover{
    width: 80%;
}
#podioimg{
    width: 80%;
}
#podioimg:hover{
    width: 90%;
}
#noel{
    width: 80%;
    
}
#noel:hover{
    width: 90%;
    
}
#snow{
    width: 60%;
}
#snow:hover{
    width: 80%;
    
}
#kirkimg{
    width: 52%;
    height: 40vh;

}
#kirkimg:hover{
    width: 60%;
    height: 50vh;

}

.personalimgs:hover{
    width: 70%;
    
    box-shadow: 0 10px 20px 0 whitesmoke;
}
#quote{
    font-size: 25px;
    margin-top: 100px;
}
#quotel{
    font-size: 25px;
    margin-top: 8%;
    text-align: left;
    margin-left: 10%;
}
#quoter{
    font-size: 25px;
    margin-top: 2%;
    text-align: right;
    margin-right: 20%;
}

/* MEDIA RESIZE */
@media (max-width:660px) {
    #homeIcon2{
        margin-top: 9px;
        width: 20px;
        left: 20px;
    }
    #titlepersonal{
        font-size: 25px;
    }

}
@media (max-width:900px) {
    #priceCimg{
        margin-top: 140px;
        width: 80%;
    }
    #myuniimg{
        margin-top: 100px;
        width: 80%;
    }
    .tt{
        top: 280px;
    }
   
}