@font-face{
    font-family: 'font1';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face{
    font-family: 'font2';
    src: url('../fonts/K2D-Medium.ttf');
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
html{
    height: 100%;
}
body{
    height: 100%;
    background-color:black;
    font-family: font1;
    color: blanchedalmond;
}

/*Main Page */
#section1{
    height: 100vh;
}
#mainpg-name{
    color: bisque;
    font-size: 100px;
    margin-top: 35vh;
    margin-bottom: -2vh;
    animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}
#mainpg-personalinfo{
    color: aliceblue;
    font-family: font2;
    font-size: 25px;
    font-weight: lighter;
    animation: fadeIn 5s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}
#mainpg-nav{
    animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}


#section2{
    background-color: #041c1f;
    height: 100vh;
}
#section3{
    background-color: black;
    height: 100vh;
}
#section4{
    background-color: #041c1f;
    height: 100vh;
}
#section5{
    background-color: black;
    height: 100vh;
}
.section-left{
    background-color: black;
    height: 100vh;

}
.section-rigth{
    background-color: #041c1f;
    height: 100vh;
}
.logolinks{
    margin-top: 0.8vh;
    height: 4vh;
    width: 5vh;
    margin-left: 5vh;
    
    
}
#LinkedInLogo{
    height: 4.5vh;
    width: 4.5vh;
    margin-top: 1vh;
}
#GitLogo{
    height: 4.5vh;
    width: 4.5vh;
}

/* imects */
.project-title{
    font-size: 70px;
    margin-top: 5vh;
}

.project-info{
    margin-top: 10vh;
    font-size: 20px;
    color: white;
}

.projimg{
    height: 405px;
    width: 585px;
    opacity: 0.9;
    border: 5px solid bisque;
    margin-top: 15vh;
    border-radius: 2vh;
    opacity: 0;
    transform: translateY(2em) rotateZ(-10deg);
    transition: transform 5s .27s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
    will-change: transform,opacity;
}
.projimg:hover{
    height: 410px;
    width: 590px;
    border: 5px solid whitesmoke;
    
}
#tropical-img{
    height: 70vh;
    margin-top: 15vh;
}
#myCarousel{
    margin-top: 6vh;
}
#openAI-img{
    height: 80vh;
    border: 5px solid bisque;
    border-radius: 2vh;
}
#openAI-img:hover{
    border: 5px solid whitesmoke;
    border-radius: 2vh;
}
#rym-img{
    height: 80vh;
    border: 5px solid bisque;
    border-radius: 2vh;
}
#rym-img:hover{
    border: 5px solid whitesmoke;
    border-radius: 2vh;
}
.css-logo{
    margin-top: 1vh;
    height: 8vh;
}
.html-logo{
    margin-top: -0.65vh;
    height: 13.2vh;
    margin-left: -4vh;
}
.js-logo{
    height: 6vh;
    margin-left: -3vh;
    margin-top: 0.9vh;
}
.bootstrap-logo{
    margin-top: 0.7vh;
    height: 6vh;
    margin-left: 1vh;
}
.python-logo{
    height: 6vh;
    margin-left: 1vh;
    margin-top: 0.5vh;
}
.react-logo{
    height: 6.5vh;
    margin-left: vh;
    margin-top: 0.5vh;
}
.api-logo{
    height: 6.5vh;
    margin-left: 0vh;
    margin-top: 0.5vh;
}
.php-logo{
    height: 9vh;
    margin-left: 1vh;
    margin-top: 0.5vh;
}
.maria-logo{
    height: 10.5vh;
    margin-top: 0.5vh;
}
.sql-logo{
    height: 6vh;
    margin-left: 1vh;
    margin-top: 0.5vh;
}
#uni-bootstrap-logo{
    margin-left: -2.5vh;
}


#other-projects-title{
    margin-top: 35vh;
    font-size: 10vh;
}
#pricechkr-img{
    margin-top: 1vh;
    height: 32vh;
    margin-bottom: 9vh;
    
}
#pricechkr-img:hover{
    height: 33vh;
}
.other-projects{
    margin-top: 15vh;
}
#myuni-logo{
    height: 40vh;
    margin-left: 5vh;
    
}
#myuni-logo:hover{
    height: 41vh;
    
}
#myuni-text{
    margin-top: 2vh;
    
}
.visible{
    opacity: 1;
    transform: rotateZ(0deg);
}
/* --------------------------------------------------New Page Over------------------------------------ */